%% -*- erlang -*-
{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
    %% warnings_as_errors
]}.

{plugins, [erlfmt]}.

{shell, [
    {apps, [lager]}
]}.

{deps, [
    lager,
    recon,
    jsone,
    {hackney, "1.17.0"},
    {base64url, "1.0.1"},
    {epgsql, "4.3.0"},
    {poolboy, "1.5.2"},
    {observer_cli, "1.5.0"},
    {telemetry, "0.4.1"},
    {psql_migration, {git, "https://github.com/helium/psql-migration.git", {branch, "master"}}},
    {clique, {git, "https://github.com/helium/clique.git", {branch, "develop"}}},
    {blockchain,
        {git, "https://github.com/helium/blockchain-core.git",
            {ref, "validator1.8.3"}}},
    {envloader, {git, "https://github.com/nuex/envloader.git", {branch, "master"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions
]}.

{shell, [{apps, [lager, envloader, epgsql]}]}.

{relx, [
    {release, {blockchain_etl, "0.1.0"}, [
        blockchain_etl
    ]},
    {vm_args, "./config/vm.args"},
    {sys_config, "./config/dev.config"},
    {extended_start_script, true},
    {include_src, true},
    {extended_start_script_hooks, [
        {post_start, [
            {wait_for_process, blockchain_worker}
        ]}
    ]},
    {extended_start_script_extensions, [
        {genesis, "extensions/genesis"},
        {info, "extensions/info"},
        {migrations, "extensions/migrations"},
        {backfill, "extensions/backfill"},
        {peer, "extensions/peer"},
        {ledger, "extensions/ledger"},
        {trace, "extensions/trace"},
        {snapshot, "extensions/snapshot"},
        {repair, "extensions/repair"},
        {txn, "extensions/txn"}
    ]},
    {overlay, [
        {copy, "config/sys.config", "config/sys.config"},
        {copy, "migrations/*.sql", "migrations/"},
        {copy, "priv/genesis.mainnet", "update/genesis"},
        {copy, "scripts/extensions/genesis", "bin/extensions/genesis"},
        {copy, "scripts/extensions/info", "bin/extensions/info"},
        {copy, "scripts/extensions/backfill", "bin/extensions/backfill"},
        {copy, "scripts/extensions/migrations", "bin/extensions/migrations"},
        {copy, "./_build/default/lib/blockchain/scripts/extensions/peer", "bin/extensions/peer"},
        {copy, "./_build/default/lib/blockchain/scripts/extensions/ledger",
            "bin/extensions/ledger"},
        {copy, "./_build/default/lib/blockchain/scripts/extensions/trace", "bin/extensions/trace"},
        {copy, "./_build/default/lib/blockchain/scripts/extensions/txn", "bin/extensions/txn"},
        {copy, "./_build/default/lib/blockchain/scripts/extensions/snapshot",
            "bin/extensions/snapshot"},
        {copy, "./_build/default/lib/blockchain/scripts/extensions/repair",
            "bin/extensions/repair"},
        {template, "config/vm.args", "{{output_dir}}/releases/{{release_version}}/vm.args"}
    ]}
]}.

{profiles, [
    {dev, [
        {relx, [
            {sys_config, "./config/dev.config"},
            {dev_mode, true},
            {include_src, false},
            %% include erts to make migrations script work
            {include_erts, true}
        ]}
    ]},
    {testnet, [
        {relx, [
            {sys_config, "./config/testnet.config"},
            {dev_mode, true},
            {include_src, false},
            %% include erts to make migrations script work
            {include_erts, true},
            {overlay, [
                {copy, "priv/genesis.testnet", "update/genesis"}
            ]}
        ]}
    ]},
    {prod, [
        {relx, [
            {sys_config, "./config/prod.config"},
            {include_src, false},
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {docker_etl, [
        {relx, [
            {sys_config_src, "./config/docker_etl.config.src"},
            {include_src, false},
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {local, [
        {relx, [
            {sys_config, "./config/local.config"},
            {dev_mode, false},
            {include_erts, false}
        ]}
    ]}
]}.
