%% -*- erlang -*-
[
    "config/sys.config",
    {lager, [
        {log_root, "log"}
    ]},
    {blockchain_etl, [
        {network, mainnet}
    ]},
    {blockchain, [
        {base_dir, "data"},
        {honor_quick_sync, true},
        {assumed_valid_block_height, 702699},
        {assumed_valid_block_hash,
            <<105, 128, 183, 56, 122, 104, 226, 191, 135, 189, 225, 20, 33, 243, 158, 159,
                67, 51, 204, 195, 63, 201, 19, 25, 164, 109, 33, 178, 232, 39, 111, 46>>}
    ]}
].
