%% -*- erlang -*-
[
 "config/sys.config",
 {blockchain,
  [
   {base_dir, "data"},
   {honor_assumed_valid, false},
   {port, 0},
   {key, undefined},
   {num_consensus_members, 7},
   {seed_nodes, ""},
   {seed_node_dns, ""},
   {peerbook_update_interval, 60000},
   {peerbook_allow_rfc1918, true},
   {peer_cache_timeout, 20000}
  ]}
].
