%% -*- erlang -*-
[
 "config/sys.config",
 {lager,
  [
   {log_root, "log"},
   {crash_log, "crash.log"},
   {colored, true},
   {handlers,
    [
     {lager_file_backend, [{file, "console.log"}, {level, info}]},
     {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]}
  ]},
 {blockchain,
  [
   {validation_width, 7}, %% set to number of cores -1
   {honor_assumed_valid, true},

   {assumed_valid_block_height, 196777},
   {assumed_valid_block_hash,
    <<104,251,74,43,120,160,101,163,179,105,182,101,206,26,73,93,114,15,239,168,203,1,77,53,201,67,53,35,96,157,144,243>>},

   {port, 44158},
   {key, undefined},
   {base_dir, "data"},
   {num_consensus_members, 16},
   {seed_nodes, "/ip4/34.222.64.221/tcp/2154,/ip4/34.208.255.251/tcp/2154"},
   {seed_node_dns, "seed.helium.foundation"},
   {peerbook_update_interval, 180000},
   {max_inbound_connections, 6},
   {outbound_gossip_connections, 2}
  ]}
].

