%% -*- erlang -*-
[
    {pg_types, [{json_config, {jsone, [], [{keys, atom}]}}]},
    {blockchain_etl, [
        {port, 8080},
        {profile, db},

        {db, [
            {env, ".env"},
            {pool, [
                %% We keep the pool small since all blocks are handled in a
                %% single transaction and the pending_txn_worker only needs one
                %% as well. Gateway and validator status works in parallel
                %% which requires more connections
                {size, 50},
                {max_overflow, 20}
            ]},
            {handlers, [
                be_db_block,
                be_db_txn_actor,
                be_db_account,
                be_db_gateway,
                be_db_pending_txn,
                be_db_geocoder,
                be_db_gateway_status,
                be_db_oracle_price,
                be_db_vars,
                be_db_stats,
                be_db_reward,
                be_db_packet,
                be_db_validator,
                be_db_validator_status,
                be_db_oui,
                be_db_dc_burn
            ]}
        ]}
    ]},
    {kernel, [
        %% force distributed erlang to only run on localhost
        {inet_dist_use_interface, {127, 0, 0, 1}}
    ]},
    {lager, [
        {log_root, "log"},
        {suppress_supervisor_start_stop, true},
        {metadata_whitelist, [poc_id]},
        {crash_log, "crash.log"},
        {colored, true},
        {handlers, [
            {lager_file_backend, [{file, "console.log"}, {level, info}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]}
        ]}
    ]},
    {libp2p, [
        {use_dns_for_seeds, true},
        {seed_dns_cname, "seed.helium.io"},
        {similarity_time_diff_mins, 30},
        {random_peer_pred, fun be_db_follower:random_val_predicate/1}
    ]},
    {blockchain, [
        %% save snapshots even if we disagree on the hash
        {save_bad_snapshot, true},
        {snapshot_memory_limit, 2048},

        {honor_quick_sync, true},
        {quick_sync_mode, assumed_valid},

        {assumed_valid_block_height, 1217435},
        {assumed_valid_block_hash,
            <<163, 62, 241, 211, 47, 222, 0, 107, 87, 236, 9, 123, 206, 93, 60, 236, 97, 245, 213,
                135, 32, 157, 163, 255, 228, 222, 85, 130, 149, 35, 235, 62>>},
        {commit_hook_callbacks, [
            {entries, undefined, fun be_db_account:incremental_commit_hook/1,
                fun be_db_account:end_commit_hook/2},
            {dc_entries, undefined, fun be_db_account:incremental_commit_hook/1,
                fun be_db_account:end_commit_hook/2},
            {securities, undefined, fun be_db_account:incremental_commit_hook/1,
                fun be_db_account:end_commit_hook/2},
            {validators, undefined, fun be_db_validator:incremental_commit_hook/1,
                fun be_db_validator:end_commit_hook/2},
            {active_gateways, undefined, fun be_db_gateway:incremental_commit_hook/1,
                fun be_db_gateway:end_commit_hook/2}
        ]},

        {block_sync_batch_size, 10},
        {block_sync_batch_limit, 100},
        {listen_addresses, ["/ip4/0.0.0.0/tcp/44158"]},
        {key, undefined},
        {base_dir, "data"},
        {autoload, false},
        {num_consensus_members, 16},
        {seed_nodes,
            "/ip4/18.217.27.26/tcp/2154,/ip4/35.161.222.43/tcp/443,/ip4/99.80.158.114/tcp/2154,/ip4/3.66.43.167/tcp/443,/ip4/52.220.121.45/tcp/2154,/ip4/54.207.252.240/tcp/443,/ip4/3.34.10.207/tcp/2154,/ip4/13.238.174.45/tcp/443"},
        {disable_gateway_cache, true},
        {sync_timeout_mins, 15},
        {max_inbound_connections, 32},
        {outbound_gossip_connections, 4},
        {peerbook_update_interval, 180000}
    ]},
    {relcast, [
        {db_open_opts, [
            {total_threads, 4},
            {max_background_jobs, 2},
            {max_background_compactions, 2}
            %% {max_background_flushes, 2}, % not sure if needed
        ]},
        {defer_count_threshold, 30},
        {defer_time_threshold, 1000}
    ]},
    {rocksdb, [
        {global_opts, [
            {max_open_files, 128},
            {compaction_style, universal},
            {block_based_table_options, [{cache_index_and_filter_blocks, true}]},
            % 8MB
            {memtable_memory_budget, 8388608},
            % 256kB
            {arena_block_size, 262144},
            % 256kB
            {write_buffer_size, 262144},
            % 8MB
            {db_write_buffer_size, 8388608},
            {max_write_buffer_number, 10},
            {keep_log_file_num, 5}
        ]}
    ]}
].
