%% -*- erlang -*-
[
    {pg_types, [{json_config, {jsone, [], [{keys, atom}]}}]},
    {blockchain_etl, [
        {port, 8080},
        {profile, db},
        {db, [
            {env, ".env"},
            {pool, [
                %% We keep the pool small since all blocks are handled in a
                %% single transaction and the pending_txn_worker only needs one
                %% as well. Gateway status works in parallel which requires
                %% more connections
                {size, 25},
                {max_overflow, 10}
            ]},
            {handlers, [
                be_db_block,
                be_db_txn_actor,
                be_db_account,
                be_db_gateway,
                be_db_pending_txn,
                be_db_geocoder,
                be_db_gateway_status,
                be_db_oracle_price,
                be_db_vars,
                be_db_stats,
                be_db_reward,
                be_db_packet,
                be_db_validator,
                be_db_validator_status,
                be_db_oui
            ]}
        ]}
    ]},
    {kernel, [
        %% force distributed erlang to only run on localhost
        {inet_dist_use_interface, {127, 0, 0, 1}}
    ]},
    {lager, [
        {log_root, "log"},
        {suppress_supervisor_start_stop, true},
        {metadata_whitelist, [poc_id]},
        {crash_log, "crash.log"},
        {colored, true},
        {handlers, [
            {lager_file_backend, [{file, "console.log"}, {level, info}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]}
        ]}
    ]},
    {blockchain, [
        {commit_hook_callbacks, [
            {entries, undefined, fun be_db_account:incremental_commit_hook/1,
                fun be_db_account:end_commit_hook/2},
            {dc_entries, undefined, fun be_db_account:incremental_commit_hook/1,
                fun be_db_account:end_commit_hook/2},
            {securities, undefined, fun be_db_account:incremental_commit_hook/1,
                fun be_db_account:end_commit_hook/2},
            {validators, undefined, fun be_db_validator:incremental_commit_hook/1,
                fun be_db_validator:end_commit_hook/2}
        ]},
        %% set to number of cores -1
        {validation_width, 7},
        {port, 44158},
        {key, undefined},
        {base_dir, "data"},
        {autoload, false},
        {num_consensus_members, 16},
        {seed_nodes, "/ip4/34.222.64.221/tcp/2154,/ip4/34.208.255.251/tcp/2154"},
        {seed_node_dns, "seed.helium.foundation"},
        {peerbook_update_interval, 180000},
        {max_inbound_connections, 6},
        {outbound_gossip_connections, 2}
    ]},
    {relcast, [
        {db_open_opts, [
            {total_threads, 4},
            {max_background_jobs, 2},
            {max_background_compactions, 2}
            %% {max_background_flushes, 2}, % not sure if needed
        ]},
        {defer_count_threshold, 30},
        {defer_time_threshold, 1000}
    ]},
    {rocksdb, [
        {global_opts, [
            {max_open_files, 128},
            {compaction_style, universal},
            {block_based_table_options, [{cache_index_and_filter_blocks, true}]},
            % 8MB
            {memtable_memory_budget, 8388608},
            % 256kB
            {arena_block_size, 262144},
            % 256kB
            {write_buffer_size, 262144},
            % 8MB
            {db_write_buffer_size, 8388608},
            {max_write_buffer_number, 8},
            {keep_log_file_num, 5}
        ]}
    ]}
].
