%% -*- erlang -*-
[
 {kernel,
  [
   %% force distributed erlang to only run on localhost
   {inet_dist_use_interface, {127,0,0,1}}
  ]},
 {pg_types, [{json_config, {jsone, [], [{keys, atom}]}}]},
 {blockchain_etl,
  [
   {port, 8080},
   {db_pool,
    [
     %% We keep the pool small since all blocks are handled in a
     %% single transaction and the pending_txn_worker only needs one
     %% as well.
     {size, 5},
     {max_overflow, 10}
    ]},
   {db_handlers,
    [
     be_block,
     be_txn_actor,
     be_account,
     be_gateway,
     be_pending_txn_worker,
     be_geocoder
    ]}
  ]},
 {lager,
  [
   {suppress_supervisor_start_stop, true},
   {metadata_whitelist, [poc_id]},
   {handlers,
    [
     {lager_console_handler, [{level, debug}]}
    ]}
  ]},
 {relcast,
  [
   {db_open_opts,
    [{total_threads, 4},
     {max_background_jobs, 2},
     {max_background_compactions, 2}
     %% {max_background_flushes, 2}, % not sure if needed
    ]},
   {defer_count_threshold, 30},
   {defer_time_threshold, 1000}
  ]},
 {rocksdb,
  [{global_opts,
    [
     {max_open_files, 128},
     {compaction_style, universal},
     {block_based_table_options, [{cache_index_and_filter_blocks, true}]},
     {memtable_memory_budget, 4194304},  % 32MB
     {arena_block_size, 131072}, % 128k
     {write_buffer_size, 131072},
     {db_write_buffer_size, 4194304},
     {max_write_buffer_number, 4},
     {keep_log_file_num, 5}
    ]}
  ]}
].
