%% -*- erlang -*-
[
    "config/sys.config",
    {lager, [
        {log_root, "log"}
    ]},
    {blockchain_etl, [
        {network, testnet}
    ]},
    {libp2p, [
        {nat_map, #{{10, 0, 0, 44} => {13, 59, 92, 173}}}
    ]},
    {blockchain, [
        {base_dir, "data"},
        {honor_quick_sync, false},
        {seed_nodes, "/ip4/3.12.155.25/tcp/2154"},
        {seed_node_dns, ""}
    ]}
].
