%% -*- erlang -*-
[
    "config/sys.config",
    {lager, [
        {log_root, "log"}
    ]},
    {blockchain_etl, [
        {network, testnet}
    ]},
    {blockchain, [
        {base_dir, "data"},
        {network, testnet},
        {honor_quick_sync, false},
        {seed_nodes, "/ip4/3.12.155.25/tcp/2154"},
        {seed_node_dns, ""}
    ]}
].
