[Unit]
Description=Blockchain ETL application
After=network.target

[Service]
Type=simple
ExecStart=/var/helium/blockchain_etl/bin/blockchain_etl foreground
ExecStop=/var/helium/blockchain_etl/bin/blockchain_etl stop
User=ubuntu
PIDFile=/var/data/blockchain_etl/blockchain_etl.pid
Environment=HOME="/var/data/blockchain_etl"
Environment=RUNNER_LOG_DIR="/var/data/log/blockchain_etl"
Environment=ERL_CRASH_DUMP="/var/data/log/blockchain_etl"
LimitNOFILE=200000
LimitNPROC=200000
Restart=always

[Install]
WantedBy=multi-user.target
